/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* set grid gutter here. */
/* set common inner width here */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/************************************************************************************
*************************************************************************************

							     CALLOUT

************************************************************************************
************************************************************************************/
/* line 25, ../scss/breakpoints/_481up.scss */
.callOut {
  background-color: #212020;
  padding: 80px 20px;
}
/* line 28, ../scss/breakpoints/_481up.scss */
.callOut .wrapper {
  border: 4px solid white;
}
/* line 30, ../scss/breakpoints/_481up.scss */
.callOut .wrapper .flexSec {
  padding: 30px 30px 50px 30px;
}
/* line 33, ../scss/breakpoints/_481up.scss */
.callOut .wrapper .flexSec .flexCont .flexDiv {
  padding: 10px;
  min-width: 300px;
}
/* line 36, ../scss/breakpoints/_481up.scss */
.callOut .wrapper .flexSec .flexCont .flexDiv img {
  float: left;
  width: 40px;
  margin: 31px 20px 0px 0px;
}
/* line 41, ../scss/breakpoints/_481up.scss */
.callOut .wrapper .flexSec .flexCont .flexDiv h1 {
  color: #cf202c;
}
/* line 42, ../scss/breakpoints/_481up.scss */
.callOut .wrapper .flexSec .flexCont .flexDiv p {
  border-left: 3px solid white;
  padding-left: 30px;
  margin-left: 20px;
  color: white;
}

/* line 53, ../scss/breakpoints/_481up.scss */
.calloutButtons {
  width: 326px;
  background-color: #212020;
  padding: 0px 9px;
  position: relative;
  top: -17px;
  margin: auto;
}
/* line 60, ../scss/breakpoints/_481up.scss */
.calloutButtons .flexCont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 63, ../scss/breakpoints/_481up.scss */
.calloutButtons .flexCont .flexDiv .buttonLeft {
  border-radius: 6px 0px 0px 6px !important;
  margin-right: 3px;
}
/* line 67, ../scss/breakpoints/_481up.scss */
.calloutButtons .flexCont .flexDiv .buttonRight {
  border-radius: 0px 6px 6px 0px !important;
  margin-left: 3px;
}

/************************************************************************************
*************************************************************************************

							      GENERAL COLs

************************************************************************************
************************************************************************************/
/* line 88, ../scss/breakpoints/_481up.scss */
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* line 94, ../scss/breakpoints/_481up.scss */
.flexSec .flexCont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}

/* line 102, ../scss/breakpoints/_481up.scss */
.flexEnd {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

/* line 105, ../scss/breakpoints/_481up.scss */
.growOne {
  flex: 1;
}

/* line 106, ../scss/breakpoints/_481up.scss */
.growTwo {
  flex: 2;
}

/* line 107, ../scss/breakpoints/_481up.scss */
.flexTwo {
  width: 47%;
}

/* line 108, ../scss/breakpoints/_481up.scss */
.flexThree {
  width: 30.6%;
}

/* line 109, ../scss/breakpoints/_481up.scss */
.flexFour {
  width: 20%;
  align-items: center;
}

/************************************************************************************
*************************************************************************************

							     MAP STYLES

************************************************************************************
************************************************************************************/
/* line 122, ../scss/breakpoints/_481up.scss */
.mapInfo {
  position: absolute;
  z-index: 999;
  margin: 12px 30px 0px 30px;
  background-color: transparent;
}
/* line 124, ../scss/breakpoints/_481up.scss */
.mapInfo #greenButton {
  margin: 30px 0px !important;
}

/* line 125, ../scss/breakpoints/_481up.scss */
.info {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

/* line 131, ../scss/breakpoints/_481up.scss */
.slideContent {
  width: 30%;
  left: 63%;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 24, ../scss/breakpoints/_768up.scss */
.subservSec .wrapper .flexSec .serv_gallery .galleryItem {
  width: 47%;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/
/* line 24, ../scss/breakpoints/_1030up.scss */
.mobileNav {
  display: none;
}

/* line 29, ../scss/breakpoints/_1030up.scss */
.red {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #cf202c;
  height: 6px;
  position: relative;
  top: 0;
  z-index: 801;
}

/* line 45, ../scss/breakpoints/_1030up.scss */
.deskNav {
  display: block;
  width: 100%;
  height: 6vw;
  min-height: 140px;
  max-height: 150px;
  background-color: white;
  opacity: 1;
  top: 0;
  z-index: 800;
  position: relative;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}
/* line 57, ../scss/breakpoints/_1030up.scss */
.deskNav .navLogo {
  position: absolute;
  top: 37px;
  left: 32px;
  width: 271px;
  z-index: 801;
}
/* line 64, ../scss/breakpoints/_1030up.scss */
.deskNav .subNav {
  border-bottom: 2px solid #e5e5e5;
  width: 447px !important;
  position: absolute;
  top: 8px;
  right: 50px;
}
/* line 70, ../scss/breakpoints/_1030up.scss */
.deskNav .subNav ul {
  margin: 0px;
}
/* line 72, ../scss/breakpoints/_1030up.scss */
.deskNav .subNav ul li {
  display: inline-block;
  margin: 0px 8px;
}
/* line 74, ../scss/breakpoints/_1030up.scss */
.deskNav .subNav ul li .fa {
  margin-right: 8px;
  color: #999999;
}
/* line 82, ../scss/breakpoints/_1030up.scss */
.deskNav .mainNav {
  position: absolute;
  top: 75px;
  right: 47px;
  width: 476px !important;
}
/* line 87, ../scss/breakpoints/_1030up.scss */
.deskNav .mainNav h2 {
  color: black;
  margin-bottom: 10px;
}
/* line 89, ../scss/breakpoints/_1030up.scss */
.deskNav .mainNav h2 .fa {
  color: #cf202c;
  margin-left: 10px;
}
/* line 92, ../scss/breakpoints/_1030up.scss */
.deskNav .flexSec {
  margin: auto;
  width: 100%;
  display: block;
}
/* line 98, ../scss/breakpoints/_1030up.scss */
.deskNav .flexSec .flexCont .flexDiv {
  padding: 0px 8px;
}
/* line 100, ../scss/breakpoints/_1030up.scss */
.deskNav .flexSec .flexCont .flexDiv a {
  text-decoration: none;
}

/* line 107, ../scss/breakpoints/_1030up.scss */
.nav-item-dropdown {
  position: relative;
}
/* line 110, ../scss/breakpoints/_1030up.scss */
.nav-item-dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}

/* line 116, ../scss/breakpoints/_1030up.scss */
.dropdown-trigger {
  position: relative;
}
/* line 119, ../scss/breakpoints/_1030up.scss */
.dropdown-trigger:focus + .dropdown-menu {
  display: block;
  opacity: 1;
}
/* line 124, ../scss/breakpoints/_1030up.scss */
.dropdown-trigger::after {
  position: absolute;
  color: #cf202c;
  font-weight: bold;
}

/* line 132, ../scss/breakpoints/_1030up.scss */
.dropdown-menu {
  display: none;
  width: 240px;
  position: absolute;
  top: 46px;
  right: -50px;
  height: 220px;
  background-color: #cf202c;
}
/* line 140, ../scss/breakpoints/_1030up.scss */
.dropdown-menu h2 {
  color: white !important;
  text-align: center;
}
/* line 143, ../scss/breakpoints/_1030up.scss */
.dropdown-menu .more {
  background-color: #881720;
  padding: 1px 0px;
}

/* line 149, ../scss/breakpoints/_1030up.scss */
.dropdown-menu-item {
  cursor: pointer;
  padding: 1px;
  color: white !important;
  text-align: center;
}
/* line 155, ../scss/breakpoints/_1030up.scss */
.dropdown-menu-item:hover {
  background-color: #b91d27;
}

/* line 164, ../scss/breakpoints/_1030up.scss */
.under:after {
  display: block;
  content: '';
  border-bottom: solid 3px #cf202c;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

/* line 171, ../scss/breakpoints/_1030up.scss */
.under:hover:after {
  transform: scaleX(1);
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
