/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/






/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/
.mobileNav {
	display: none;
}


.red {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: $red;
	height: 6px;
	position: relative;
	top: 0;
	z-index: 801;
}






.deskNav {
	display: block;
	width: 100%;
	height: 6vw;
    min-height: 140px;
    max-height: 150px;
	background-color: white;
	opacity: 1;
	top: 0;
	z-index: 800;
	position: relative;
	box-shadow: 0px 10px 5px rgba(0, 0, 0, .1);
	.navLogo {
	position: absolute;
    top: 37px;
    left: 32px;
    width: 271px;
    z-index: 801;
	}
	.subNav {
	border-bottom: 2px solid $offWhite;
    width: 447px !important;
    position: absolute;
    top: 8px;
    right: 50px;
		ul {
			margin: 0px;
			li {display: inline-block;
			    margin: 0px 8px;
				.fa {margin-right: 8px;
					color: $lightGrey;}}
		}
	}


//Primary Links

	.mainNav {
	position: absolute;
    top: 75px;
    right: 47px;
	width: 476px !important;
		h2 {color: black;
			margin-bottom: 10px;
			.fa {color: $red;
				margin-left: 10px;}}
	}
	.flexSec {
	  margin: auto;
	  width: 100%;
	  display: block;
		.flexCont {

		.flexDiv {
			padding: 0px 8px;
			a {text-decoration: none;}
			}

		}}}

//Dropdown menu

.nav-item-dropdown {
  position: relative;

  &:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.dropdown-trigger {
  position: relative;

  &:focus + .dropdown-menu {
    display: block;
    opacity: 1;
  }

  &::after {
    position: absolute;
    color: $red;
    font-weight: bold;

  }
}

.dropdown-menu {
	display: none;
	width: 240px;
    position: absolute;
    top: 46px;
    right: -50px;
    height: 220px;
    background-color: #cf202c;
	h2 {
		color: white !important;
		text-align: center;}
	.more {
		background-color: $darkRed;
		padding: 1px 0px;
	}
}

.dropdown-menu-item {
  cursor: pointer;
  padding: 1px;
  color: white !important;
  text-align: center;

  &:hover {
    background-color: darken($red, 5%);
  }
}



//Underline Transition

.under:after {
  display:block;
  content: '';
  border-bottom: solid 3px $red;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.under:hover:after { transform: scaleX(1); }
