/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/************************************************************************************
*************************************************************************************

							     CALLOUT

************************************************************************************
************************************************************************************/
.callOut {
	background-color: $darkGrey;
	padding: $secPadding;
	.wrapper {
		border: 4px solid white;
		.flexSec {
			padding: 30px 30px 50px 30px;
			.flexCont {
				.flexDiv {
					padding: $gridPadding;
					min-width: 300px;
					img {
						float: left;
    					width: 40px;
    					margin: 31px 20px 0px 0px;
					}
					h1 {color: $red;}
					p {
						border-left: 3px solid white;
						padding-left: 30px;
    					margin-left: 20px;
						color: white;
					}
			}
		}
	}
	}}

.calloutButtons {
		width: 326px;
    	background-color: $darkGrey;
    	padding: 0px 9px;
    	position: relative;
    	top: -17px;
    	margin: auto;
		.flexCont {
			@include flexbox;
			.flexDiv {
				.buttonLeft {
					border-radius: $bRadleft !important;
					margin-right: 3px;
				}
				.buttonRight {
					border-radius: $bRadright !important;
					margin-left: 3px;
				}
			}
		}
	}






/************************************************************************************
*************************************************************************************

							      GENERAL COLs

************************************************************************************
************************************************************************************/

.wrapper {
		width: 100%;
		max-width: $maxWidth;
		margin: auto;}

.flexSec {
	.flexCont {
		@include flexbox;
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include align-items(flex-start);
		@include justify-content(space-around);
	}}

.flexEnd {@include justify-content(flex-end);}


.growOne {flex: 1;}
.growTwo {flex: 2;}
.flexTwo {width: 47%}
.flexThree {width: 30.6%;}
.flexFour {width: 20%;
	align-items: center;}



/************************************************************************************
*************************************************************************************

							     MAP STYLES

************************************************************************************
************************************************************************************/

.mapInfo {     position: absolute;
    z-index: 999;margin:12px 30px 0px 30px;background-color: transparent;
	#greenButton {margin: 30px 0px !important;}}
.info {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}


.slideContent {
	width: 30%;
	left: 63%
}
