/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/



/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $darkGrey;
	background-color: $offWhite;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-color: $offWhite;
}



.wrapper {
		width: 90%;
		max-width: 1250px;
    	display: block;
    	margin: auto;
		}






* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

#white {color: white;}
#red {color: $red;}
#grey {color: $darkGrey;}
#black {color: black;}


h1 {
	font-family: 'Lora', serif;
	font-weight: 400;
	letter-spacing: 1px;
	--max-size: 33;
  	--min-size: 28;
  	font-size: var(--responsive);
}


h2 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: left;
	--max-size: 14.5;
  	--min-size: 13;
  	font-size: var(--responsive);

}

h3 {
	font-family: 'Lora', serif;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
	--max-size: 20;
  	--min-size: 18;
  	font-size: var(--responsive);
}

h4 {
	font-family: 'Open Sans', sans-serif;
	color: $lightGrey;
	letter-spacing: 1px;
	font-weight: 600;
  	font-size: 14px;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: normal;
	--max-size: 18;
  	--min-size: 16;
  	font-size: var(--responsive);

}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	hyphens: none;
	--max-size: 14.5;
  	--min-size: 13;
  	font-size: var(--responsive);
}

a {text-decoration: none;}


.pageTitle {
	padding-bottom: 70px;
	width: 90%;
	max-width: $innerWidth;
	text-align: center;
	margin: auto;

	h1 {
		margin: auto;
		text-align: center;
		line-height: 30px;
	}
	hr {
		width: 200px;
		border: 2px solid $red;
		margin: 20px auto ;

	}
}




/************************************************************************************
*************************************************************************************

							     LOGO FEATURE

************************************************************************************
************************************************************************************/

.customerFeature {
	width: 100%;
	padding: $secPadding;
	background-color: $darkRed;
		.flexCont {
			@include flexbox;
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include align-items(flex-start);
		@include justify-content(space-around);
			.flexDiv {
				width: 28%;
				max-width: 220px;
				min-width: 120px;
				padding-bottom: 20px;
				img {width: 100%}
			}
		}
	h1 {
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif !important;
		font-weight: bold !important;
		font-style: italic !important;
		color: white;
		text-align: center;
		line-height: 37px;
		margin: 0px 0px 5px 0px;
	}
	hr {
		width: 200px;
		border: 2px solid $red;
		margin: auto;
		margin-top: 15px;
	}
}

/************************************************************************************
*************************************************************************************

							     HOME SLIDER

************************************************************************************
************************************************************************************/



.slideImg {
	width: 100%;
	background-repeat:no-repeat !important;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-o-background-size:cover !important;
	background-size:cover !important;
	background-position:center !important;
	height: 500px;
	&:before {
    content: '';
	position: absolute;
		height: 640px;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,rgba(0,0,0,0),rgba(0,0,0,.6));
	opacity: .2;

  }}


	.slideContent {
		width: 90%;
		left: 0%;
		position: relative;
		top: 190px;
		right: 40px;
		z-index: 20;
		h1 {
		text-align: right;
		color: white;
	}
	p {
		text-align: right;
		color: white;
	}

	.headerCta {
		display: block;
		float: right;
		margin-top: 15px;
		background-color: black;
		border-radius: $bRad;
		color: white;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		padding: 11px 17px;
	}

	}
/************************************************************************************
*************************************************************************************

							     SERVICES FEATURE

************************************************************************************
************************************************************************************/


.texture {
	   background-repeat: repeat repeat !important;
		width: 100%;
	.wrapper {
		padding: $secPadding;
	}}


.servicesFeature {
	.wrapper {

	.flexCont {
		@include flexbox;
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include align-items(flex-start);
		@include justify-content(space-around);
			.flexDiv {
				width: 18%;
				max-width: 150px;
   				min-width: 110px;
				img {width: 100%}
			}
		}

	h2 {
		text-align: center;
		}
	}}

/************************************************************************************
*************************************************************************************

							     SERVICE PAGES

************************************************************************************
************************************************************************************/

.serviceT {
	width: 100%;
	max-width: $innerWidth;
	margin: auto;
	.serviceCopy {

		h1 {
		display: flex;
   		align-items: center;
		}
		h5 {
		border-left: 4px solid $red;
		padding-left: 66px;
		margin-left: 40px;
		}
	img {
		width: 80px;
		margin-right: 30px;
	}

	}

}

.subservSec {
	background-color: $offWhite;
	padding: 50px 0px;
	.wrapper {
		.flexSec {
			.serv_gallery {
			.galleryItem {
				border: 2px solid white;
		    padding: 20px;
		    margin: auto;
		    width: 100%;
		    margin-bottom: 20px;
		.service_subcat {
			height: 35px;
			border-left: 4px solid $red;
			width: 100%;
			padding-left: 20px;
				h2 {padding-top: 5px;}
				}
				}
			}}}}


/************************************************************************************
*************************************************************************************

							     FLEX

************************************************************************************
************************************************************************************/


.secOne.secCont {
	background-color: $lightGrey;
	padding: $secPadding;
	.wrapper {
	.flexSec {
		.flexCont {
		.flexDiv {

			}}
		}}}


.secCont {
	width: 100%;
	.wrapper {
		width: 100%;
	h1  {
			padding: $gridPadding;

			margin: $gridGutter;
			}
	.flexSec {
	  margin: auto;
	  width: 100%;
	  display: block;
		.flexCont {
		.flexDiv {
			padding: $gridPadding;
			margin: $gridGutter;
			}}
		}}}


/************************************************************************************
*************************************************************************************

							     CALLOUT

************************************************************************************
************************************************************************************/
.callOut {
	background-color: $darkGrey;
	padding: $secPadding;
	.wrapper {
		border: 4px solid white;
		padding-bottom: 30px;
		.flexSec {
			padding: 0px 0px 40px 10px;
			.flexCont {
				.flexDiv {
					padding: $gridPadding;
					min-width: 300px;
					img {
						float: left;
    					width: 40px;
    					margin: 31px 20px 0px 0px;
					}
					h1 {color: $red;}
					p {
						border-left: 3px solid white;
						padding-left: 30px;
    					margin-left: 20px;
						color: white;
					}
			}
		}
	}
	}}



/************************************************************************************
*************************************************************************************

							      BUTTONS

************************************************************************************
************************************************************************************/

.calloutButtons {
		width: 196px;
    	background-color: $darkGrey;
    	padding: 0px;
    	position: relative;
    	top: -54px;
    	margin: auto;
		.flexCont {
			.flexDiv {
				.buttonLeft {
					margin: auto;
					margin-bottom: 20px;
					border-radius: $bRad;
					width: 150px;
				}
				.buttonRight {
					margin: auto;
					border-radius: $bRad;
					width: 150px;
				}
			}
		}
	}



.footerButton {
	margin: auto !important;
	border-radius: $bRad !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footerButton:hover, .buttonLeft:hover, .buttonRight:hover {
	background-color: $darkRed;
	transition: $hovTran;
}

/************************************************************************************
*************************************************************************************

							      TESTIMONIALS

************************************************************************************
************************************************************************************/

.testimonialsFlick {
	padding: $secPadding;
}


.gallery-cell {
  width: 100%;

}



.gallery-wrap {
	width: 100%;
	max-width: $innerWidth;
	margin:auto;
	background-color: white;
	border-radius: $bRad;
}
.testimonial {
  text-align: center;
  max-width: 850px;
  margin: auto;
  width: 80%;
  padding: 50px 0px;

	img {
		width: 60px;
	}
	h2 {
		text-align: right;
	}
}


.testimonial-quote {
  display: block;
  font-size: 24px;
  font-weight: 300;
}


/************************************************************************************
*************************************************************************************

							      GALLERY PAGE

************************************************************************************
************************************************************************************/




$gallery-width: 100%;
$transition-duration: 0.5s;

.galleryWrap {
	position:relative;
    width:100%;
    padding-bottom: 906px;
    height:0;
    overflow:scroll;
}

.m-p-g {
	max-width: $gallery-width;
	position:absolute;
    width:100%;
    height:100%;

	&__thumbs {

		&-img {
			margin: 0;
			float: left;
			vertical-align: bottom;
			cursor: pointer;
			z-index: 1;
			position: relative;
			opacity: 0;
			filter: brightness(100%);
			-webkit-tap-highlight-color: rgba(black, 0);
			will-change: opacity, transform;
			transition: all $transition-duration cubic-bezier(0.23, 1, 0.32, 1);

			&.active {
				z-index: 50;
			}

			&.layout-completed {
				opacity: 1;
			}

			&.hide {
				opacity: 0;
			}

			&:hover {
				filter: brightness(110%);
			}
		}
	}

	&__fullscreen {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		z-index: 805;
		background: rgba(black, 0);
		visibility: hidden;
		transition:
			background .25s ease-out,
			visibility .01s $transition-duration linear;
		will-change: background, visibility;
		backface-visibility: hidden;

		&.active {
			transition:
				background .25s ease-out,
				visibility .01s 0s linear;
			visibility: visible;
			background: rgba(black, 0.95);
		}

		&-img {
			pointer-events: none;
			position: absolute;
			transform-origin: left top;
			top: 50%;
			left: 50%;
			max-height: 100vh;
			max-width: 100%;
			visibility: hidden;
			will-change: visibility;
			transition: opacity $transition-duration ease-out;

			&.active {
				visibility: visible;
				opacity: 1 !important;
				transition:
					transform $transition-duration cubic-bezier(0.23, 1, 0.32, 1),
					opacity $transition-duration ease-out;
			}

			&.almost-active {
				opacity: 0;
				transform: translate3d(0,0,0) !important;
			}
		}
	}

	&__controls {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 810;
		height: 20vh;
		background: linear-gradient(to top, transparent 0%, rgba(black, 0.55) 100%);
		opacity: 0;
		visibility: hidden;
		transition: all $transition-duration cubic-bezier(0.23, 1, 0.32, 1);

		&.active {
			opacity: 1;
			visibility: visible;
		}

		&-close,
		&-arrow {
			appearance: none;
			border: none;
			background: none;

			&:focus {
				outline: none;
			}
		}

		&-arrow {
			position: absolute;
			z-index: 1;
			top: 0;
			width: 20%;
			height: 100vh;
			display: flex;
			align-items: center;
			cursor: pointer;
			-webkit-tap-highlight-color: rgba(black, 0);
			opacity: 0;

			&:hover {
				opacity: 1;
			}

			&--prev {
				left: 0;
				padding-left: 3vw;
				justify-content: flex-start;
			}

			&--next {
				right: 0;
				padding-right: 3vw;
				justify-content: flex-end;
			}
		}

		&-close {
			position: absolute;
			top: 3vh;
			left: 3vw;
			z-index: 5;
			cursor: pointer;
			-webkit-tap-highlight-color: rgba(black, 0);
		}
	}

	&__btn {
		$size: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $size;
		height: $size;
		border-radius: 50%;
		background: rgba(white, 0.07);
		transition: all .25s ease-out;

		&:hover {
			background: rgba(white, 0.15);
		}
	}

	&__alertBox {
		display: none !important;
		position: fixed;
		z-index: 999;
		max-width: 700px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: white;
		padding: 25px;
		border-radius: 3px;
		text-align: center;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
		color: grey;

		h2 {
			color: red;
		}

	}
}




/************************************************************************************
*************************************************************************************

							      CONTACT PAGE

************************************************************************************
************************************************************************************/


.contact_block {
	line-height: 12px;
	min-width: 260px;
	border-left: 4px solid $red;
	padding-left: 20px;
	margin-bottom: 40px;
	.con2 {
		vertical-align: center;
		img {
			width: 23px;
			float: left;
			margin-right: 6px;
		}
	}
}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/
.contactFoot {
	width: 100%;
	background-color: $Grey;
	padding: $secPadding;
	.wrapper {
		width: 100%;
		max-width: $innerWidth;
		h1 {color: white;}
	.flexSec {
	  margin: auto;
	  width: 100%;
	  display: block;
		.flexCont {
		.flexDiv {
			padding: $gridPadding;
			margin: $gridGutter;
			table {
				tr {
					td {
						.fa {
							color: white;
							}
						p {
							color: white;
							line-height: 10px;
							}
					}
				  }
				}


			}}
		}}
	.copyRight {
		text-align: center;
		color: white;}
}




.fa-stack br { display: none !important}
.faTab {width: 30px;}
/********* GENERAL SYLES ***********/

.field-wrap > div input {
	padding: 12px;
	border-radius: bRad !important;
}

.nf-form-wrap ninja-forms-form-wrap {max-width: 400px !important; margin: auto !important;}

.nf-field-element textarea {height: 140px !important; }

textarea {max-width: 400px !important;}

.nf-field-container {margin-bottom: 11px !important;}

.nf-form-fields-required {display: none;;}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	display: inline-block;
	color: $white;
	background-color: $red;
    padding: 7px 10px;
	display: block;
    font-size: 12px;
    font-weight: 700;
	letter-spacing: 1px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: $bRad;
	opacity: 1;

}

/************************************************************************************
*************************************************************************************

							     MAP STYLES

************************************************************************************
************************************************************************************/





			.mapInfo {

				background-color: $offWhite;
				padding: 20px 0px;
				button {margin: auto;}
			}

			.info {
			border-radius: $bRad;
			padding: 10px 30px;
			line-height: 9px;
			margin-bottom: 30px;
			}

.mapHeight {position: relative;
	height: 370px;
}
.info div {width:180px; padding-top: 10px;}

.gm-style-mtc, .gm-style-mtc {display: none;}

	#map {
                width: 100%;
                height: 370px !important;
				position: absolute;
				display: block;


            }




/********* SIDE FORM & COPY ******

.contact {
	h1 {text-align:center;}
	div { width: 100%;
		display:block;
		margin: 0 auto;
		 }}

.floatLeft {
	width: 90%;
	float:none;

		h4 {text-align: center;
			width: 180px;
			display: block;
			margin: 0 auto;
			&:nth-child(1){
				border-bottom: 1px solid yellow;
				padding-bottom:10px;
				margin-bottom: 10px;}
			&:nth-child(2) {
				padding-top: 20px 0px 10px 0px;}}

		p{text-align: center;padding: 5%;}}

.floatRight {
	width: 90%;
	float: none;}

*****/



/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/



.subNav {
	color: $lightGrey;
}


.deskNav {display: none;}

.mobileNav {display: block;}


.navLogo {
	position: absolute;
    top: 17px;
    left: 9px;
    width: 211px;
    z-index: 801;
	}




.mobileIcon a {
	display: inline !important;
	margin: 10px;}


div.bars {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 19px;
  right: 20px;
  cursor: pointer;

}

div.x,
div.y,
div.z {
  position: absolute;
  margin: auto;
	z-index: 999;
  top: 0px;
  bottom: 0px;
  background: black;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

div.x,
div.y,
div.z {
  height: 3px;
  width: 26px;
}

div.y {
  top: 18px;
}

div.z {
  top: 37px;
}

div.collapse {
  top: 20px;
  background-color: black;
  -webkit-transition: all 70ms ease-out;
  -moz-transition: all 70ms ease-out;
  -ms-transition: all 70ms ease-out;
  -o-transition: all 70ms ease-out;
  transition: all 70ms ease-out;
}

div.rotate30 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transition: all 50ms ease-out;
  -moz-transition: all 50ms ease-out;
  -ms-transition: all 50ms ease-out;
  -o-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

div.rotate150 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-transition: all 50ms ease-out;
  -moz-transition: all 50ms ease-out;
  -ms-transition: all 50ms ease-out;
  -o-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

div.rotate45 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

div.rotate135 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

div.navbar {
  height: 85px;
  background-color: white;
}

div.circle {
  border-radius: 50%;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 35px;
  right: 45px;
  background: white;
  opacity: 1;
  -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.circle.expand {
  width: 2600px;
  height: 2600px;
  z-index: 850;
  top: -560px;
  right: -500px;
  -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.menu {
  height: 568px;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 85px;
  left: 0px;
}

div.menu ul li {
  list-style: none;
  opacity: 0;
  width: 100%;
  font-size: 0px;
  margin: 0 0 30px 0;
  -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

.mobileIcon {border-top: 2px solid $offWhite;}
.mobileIcon a {color: $lightGrey !important;}
li.mobileIcon.animate {
	width: 170px;
    padding: 20px 0px 0px 5px;
    margin: auto;
}

.topMobile h2 {text-align: center !important;}

.topMobile li a {
  color: black;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  display: block;
}

div.menu ul li a:hover {
  color: $red;
}

div.menu li.animate {
  font-size: 18px;
  opacity: 1;
  -webkit-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -moz-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -ms-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  -o-transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  transition: all 120ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.menu li.animate:nth-of-type(1) {
  top: 90px;
  transition-delay: 0.0s;
}

div.menu li.animate:nth-of-type(2) {
  top: 150px;
  transition-delay: 0.03s;
}

div.menu li.animate:nth-of-type(3) {
  top: 210px;
  transition-delay: 0.06s;
}

div.menu li.animate:nth-of-type(4) {
  top: 270px;
  transition-delay: 0.09s;
}

div.menu li.animate:nth-of-type(5) {
  top: 330px;
  transition-delay: 0.12s;
}

div.menu li.animate:nth-of-type(6) {
  top: 390px;
  transition-delay: 0.15s;
}

/************************************************************************************
*************************************************************************************

							     UNSLIDER

************************************************************************************
************************************************************************************/


	.unslider {
			width: 100%;
			position: relative;
		}

		.unslider-arrow {
			display: block;
			position: absolute;
			top: 130px;
			color: $lightGrey;
			font-size: 30px;
		}

		nav.unslider-nav {
			position: absolute;
			bottom: 5px;
			width: 100%;
			z-index: 40;
		}


.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid $red;
  cursor: pointer;
  z-index: 30;
}
.unslider-nav ol li.unslider-active {
  background: $red;
  cursor: default;
}

.unslider{overflow:auto;margin:0;padding:0}

.unslider-wrap{position:relative}

.unslider-wrap.unslider-carousel>li{float:left}

.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}
.unslider-arrow.next{left:auto;right:20px}

/************************************************************************************
*************************************************************************************

							     404

************************************************************************************
************************************************************************************/



#missing {

	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	min-height: 700px;
	width: 80%;
	max-width: 404px;

	h2 {
		text-align: center;
		margin: 0px auto;;
		font-size: 45px;
		width: 100%;

	}


	svg {
		width: 100px;
		margin: auto;
		.error {fill: $red;}

	}

}




/*********************
CLEARFIX
*********************/


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
